<% @set_min_w = " min-width: 700px;" %>

.flot_table{
    color: grey;
   	background-color: white;
	margin-bottom: 20px;
	-moz-border-radius: 3px;
	font:14px verdana,arial,sans-serif;
	border-collapse:collapse;
	border: 0px solid grey;
}
.flot_title {
    font-size: larger;
	padding: 5px 0px;
	text-align: center;
	border-collapse:collapse;
	border: 0px solid grey;
}
.flot_ylabel {
	padding: 0px 0px;
	text-align: center;
	border-collapse:collapse;
	border: 0px solid grey;
	
	width: 100px;

	-webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);	
     filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
.flot_xlabel {
	padding: 0px 0px;
	text-align: center;
	border-collapse:collapse;
	border: 0px solid grey;
}

.calculator{
	width: 600px;
	height: 300px;
	border: 2px solid green;
	padding: 10 px;
	background-color:White;
}

.widget {
	width: 46%;
	height: 92%;
	margin: 10px;
	border: 0px solid green;
	float: left;
	
}

.calculator_graph{
	width: 46%;
	height: 92%;
	margin: 10px;
	float: left;
	border: 0px solid green;
}
.label{
	width: 75px;
	float: left;
	margin-bottom: 5px;
}

.label1{
	width: 90%;
	font-weight: bold;
	margin-bottom: 15px;
}

.label2{
	width: 110px;
	float: left;
	margin-bottom: 5px;	
	font-weight: bold;
}
.label3{
	width: 120px;
	float: left;
	clear: right;
	margin-bottom: 5px;
}

.calculator_results{
	width: 90%;
	height: 100px;
	margin-top: 10px;
	margin-bottom: 5px;
	background-color: Linen;
	padding: 10px;
	font-size:12px;
}

.navItem {
	clear: right;
	font-size: 14px;
	padding: 2px;
}

.header {
	background-color: Green;
	font:36px verdana,arial,sans-serif;
	color: White;
	vertical-align: middle;
	padding: 10px	;
	<%= @set_min_w %>
	height: 75px;
}

.login {
	font:12px verdana,arial,sans-serif;
	float:right;
	color: White;
}

.header a{
	color: Yellow;
	font-weight: Normal;
	text-decoration: none;
}

.exposure {
	background-color: Linen;
	margin:5px 0px 0px 0px;
	padding: 3px;
	width: 973px;
	font:12px verdana,arial,sans-serif;
	-moz-border-radius: 6px;
}

.table {
	background-color: white;
	margin-bottom: 20px;
	border:0px solid red;
	-moz-border-radius: 3px;
	font:10px verdana,arial,sans-serif;
	border-collapse:collapse;
	border: 2px solid grey;
	<%= @set_min_w %>
}

.table a{
	color: DarkSlateGrey;
	font-weight: Bold;
	text-decoration: none;
}
.table a:link{}

.table a:hover{
	color: Blue;
}

.cell {
	padding: 0px 10px;
	text-align: center;
	border-collapse:collapse;
	border: 1px solid grey;
}
 .table_head {
	 font-size: 16px;
	 font-weight: bold;
 }
.graph {
	clear: right;
	background-color: white;
	padding: 5px;
	width: 710px;
	border:1px solid grey;
	margin-bottom: 20px;
	-moz-border-radius: 3px;
}

div.spacer {
  clear: both;
  display: block;
  height: 0;
  }

body {
	font-family:verdana,arial,sans-serif;
