<% tenders = [@tender] %>
<% tenders.each do |t|%>
	<table class="table">
	<%=  render(:partial => 'exposures/exposure_table_rows', 
		:locals => {:exposures => t.exposures, :header_text => t.description})  %>	
	</table>
	<%=  render(:partial => 'exposures/exposure_graphs', :locals => {:exposures => t.exposures})  %>
<% end %>

<%= link_to 'Edit', edit_tender_path(@tender) %> |
<%= link_to 'Back', tenders_path %>