<% t = @tender %>
<table>
<%= render(:partial => 'tenders/tender_table_rows', :locals => {:tender => t})  %>
</table>



<%= link_to 'Edit', edit_tender_path(@tender) %> |
<%= link_to 'Back', tenders_path %>