<h1>Listing exposures</h1>
<table class="table">
<%= render(:partial => 'exposure_table_rows', :locals => {:exposures => @exposures})  %>
</table>

<br />

<%= link_to 'New exposure', new_exposure_path %>