<%= render(:partial => 'projects/display_projects', :locals => {:projects => [@project]})  %>

<% tenders = @tenders %>
<% tenders.each do |tender| %>
	<% header_text =  tender.description %>
	<table class="table">
	<%=  render(:partial => 'exposures/exposure_table_rows', 
		:locals => {:exposures => tender.exposures, :header_text => header_text})  %>	
	</table>
<%- end -%>
<br/>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>