<%= render(:partial => 'projects/display_projects', :locals => {:projects => [@project]})  %>

<% tenders = @project.tenders %>
<% tenders.each do |tender| %>
	<table class="table">
	<%=  render(:partial => 'exposures/exposure_table_rows', :locals => {:exposures => tender.exposures})  %>	
	</table>
<%- end -%>
<br/>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>